<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/shoppingList']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Shopping List Name: {{ shoppingList.name }}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Theme:</dt>
        <dd>{{ shoppingList.theme }}</dd>
        <dt>Id:</dt>
        <dd>{{ shoppingList.id }}</dd>
        <dt>Date Created:</dt>
        <dd>{{ shoppingList.createdDate }}</dd>
        <dt>
          <a [title]="shoppingList.name + ' details'" [routerLink]="['/shopping-list-items', shoppingList.id]">
          Shopping List Items
        </a>
        </dt>
      </dl>
    </mat-card-content>
    <!-- <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/shoppingList-edit/', shoppingList.shoppingListId || 'all']"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteshoppingList(shoppingList.shoppingListId)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions> -->
  </mat-card>
</div>


<!-- <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body" *ngIf="shoppingList">
  
      <div class="row">
  
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">Name:</div>
            <div class="col-md-6">{{ shoppingList.name }}</div>
          </div>
          <div class="row">
            <div class="col-md-3">ID:</div>
            <div class="col-md-6">{{ shoppingList.id }}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Date Created:</div>
            <div class="col-md-6">{{ shoppingList.createdDate }}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Shopping Items:</div>
            <div class="col-md-6">{{ shoppingList.shoppingItems }}</div>
          </div>
        </div>
      </div>
    </div>
  
     <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}} </div>
    </div> -->
  
