<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
  
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="shoppingItems && shoppingItems.length">
          <thead>
            <tr>
              <th>
                <button class="btn btn-outline-primary btn-sm"
                        (click)="toggleImage()">
                  {{showImage ? "Hide" : "Show"}} Image
                </button>
              </th>
              <th>Item Name</th>
              <th>Item Category</th>
              <th>Item Price</th>
              <th>Item ID</th>
              <th>Item List ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shoppingItem of shoppingItems">
              <td>
                <img *ngIf="showImage && shoppingItem.imageUrl"
                     [src]="shoppingItem.imageUrl"
                     [title]="shoppingItem.name"
                     [style.width.px]="imageWidth"
                     [style.margin.px]="imageMargin">
              </td>
              <td>{{ shoppingItem.name }}</td>
              <td>{{ shoppingItem.category }}</td>
              <td>{{ shoppingItem.price }}</td>
              <td>{{ shoppingItem.id }}</td>
              <td>{{ shoppingItem.shoppingListId }}</td>
              <td>
                <button class="btn btn-outline-primary btn-sm">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <div *ngIf="errorMessage"
       class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>

