<div class="card-body">
    <form novalidate
          #shoppingListForm="ngForm">
      <fieldset>
        <legend>Basic Shopping-List Information</legend>
  
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="shoppingListNameId">Shopping List Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="shoppingListNameId"
                   type="text"
                   placeholder="Name (required)"
                   required
                   minlength="3"
                   [(ngModel)]=shoppingList.name
                   name="name"
                   #shoppingListNameVar="ngModel"
                   [ngClass]="{'is-invalid': (shoppingListNameVar.touched || 
                                              shoppingListNameVar.dirty ||
                                              shoppingList.id !== '') && 
                                              !shoppingListNameVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="shoppingListNameVar.errors?.required">
                Shopping List name is required.
              </span>
              <span *ngIf="shoppingListNameVar.errors?.minlength">
                Shopping List name must be at least three characters.
              </span>
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="shoppingListThemeId">Shopping List Theme</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="shoppingListThemeId"
                   type="text"
                   placeholder="Theme (required)"
                   required
                   [(ngModel)]=shoppingList.theme
                   name="theme"
                   #shoppingListThemeVar="ngModel"
                   [ngClass]="{'is-invalid': (shoppingListThemeVar.touched || 
                                              shoppingListThemeVar.dirty ||
                                              shoppingList.id !== '') &&
                                              !shoppingListThemeVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="shoppingListThemeVar.errors?.required">
                Shopping List theme is required.
              </span>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  
  <div class='alert alert-danger'
       *ngIf='errorMessage'>{{errorMessage}}
  </div>
